name: Build teste

on:
  push:
    branches:
      - novo
  workflow_dispatch:

jobs:
  # build-teste:
  #   uses: LeMeEich/.github/.github/workflows/build.yml@master
  novo:
    name: Teste novo job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Nome do Artefato
        run: echo "${{ github.event.repository.name }}:${{ github.ref_name }}-${{ github.run_number }}"