name: Build teste

on:
  push:
    branches:
      - novo
  workflow_dispatch:

jobs:
  # build-teste:
  #   uses: LeMeEich/.github/.github/workflows/build.yml@master
  novo:
    name: Teste novo job
    runs-on: ubuntu-latest
    outputs:
      application: ${{ vars.APPLICATION }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Nome do Artefato
        id: teste
        run: echo "version=${{ github.event.repository.name }}:${{ github.ref_name }}-${{ github.run_number }}" >> $GITHUB_OUTPUT

      - name: Exibir nome do artefato
        run: echo "Nome do artefato é ${{ steps.teste.outputs.version }} da aplicação ${{ vars.APPLICATION }}"
  teste:
    needs: novo
    name: Teste job
    runs-on: ubuntu-latest
    environment: des
    steps:
      - name: Exibir variável de ambiente
        run: echo "Nome da aplicação é ${{ needs.novo.outputs.application }} AMBIENTE ${{ vars.AMBIENTE }}"