name: Build teste

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-teste:
    uses: LeMeEich/.github/.github/workflows/build.yml@master
  novo:
    name: Teste novo job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Run a one-line script
        run: echo "This is a new job in the workflow!"

      - name: Print name branch
        run: echo "Branch name is ${{ github.ref_name }}"

      - name: Print number build
        run: echo "Build number is ${{ github.run_number }}"