name: Deploy teste

on:
  workflow_dispatch:
    inputs:
      run_id:
        description: 'Run ID do build'
        required: true
        type: string
      environment:
        description: 'Ambiente para deploy'
        required: true
        type: choice
        options:
          - des
          - pre
          - prod

jobs:
  deploy-teste:
    uses: LeMeEich/.github/.github/workflows/deploy.yml@master
    with:
      run_id: ${{ inputs.run_id }}
      environment: ${{ inputs.environment }}